CONFIG_EXAMPLES_LTE_LWM2M=y
CONFIG_EXAMPLES_LTE_LWM2M_PRIORITY=100
CONFIG_EXAMPLES_LTE_LWM2M_STACKSIZE=8192
CONFIG_EXAMPLES_LTE_LWM2M_APN_NAME="iijmio.jp"
CONFIG_EXAMPLES_LTE_LWM2M_APN_IPTYPE=0
CONFIG_EXAMPLES_LTE_LWM2M_APN_AUTHTYPE=1
CONFIG_EXAMPLES_LTE_LWM2M_APN_USERNAME="mio@iij"
CONFIG_EXAMPLES_LTE_LWM2M_APN_PASSWD="iij"

